@media(max-width:910px){
    #page-home{
        background-position-x: 70vw;
    }

    #page-home .content{
        align-items: center;
        text-align: center;

    }

    #page-home header a{
        position: absolute;
        bottom: 50px;

        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main{
        align-items: center;
    }

    #page-search-results main .cards{
        grid-template-columns: 1fr;
    }
}

@media(min-width:1700px){
    #page-home{
        background-position-x: 50vw;
    }
}